.center{
 text-align: center;
 color: black;
}
body {
 background-color: grey;
  font-family: serif ;
  font-size: 19px;
 background-image: url(https://lh3.googleusercontent.com/Ypw3Jik7aNFby9YIlirn_6jG5xfVnkiWIfTNljl60otaWVGhLAoP0Ogqg0b6JnNOKx-zSnYT-Li-_Vkae3cX5bIwBeIOE2wTBhhYOmweVbRX6nRY912Z0xeAQpZID9DungkEbQ-MbY0W2QadbuJsR_bcrNks_SBiIufyZp1ZTS2-EW5BgQ4eUa36sbpFZFoa_AnBYv-h_pmfRtidLl7S_MqwB-QwkqZuDEADrByWoSjdXdMNXSM6LsEN3mAWbJm8okvNj-px1J62XTYFS2MjGUL1JrQeRjRIYOTUKz1DnoFVDtn8UvbHTr2HL4Qh8nAN7AZrpfHdYgfOLOgDSBeGRmPqkTMyAxTgXFAj9CsY2pnlvRc5SraYPv14IHbIwOVkf0Em9gK9IqEXtJVCT6kC7Dz7IUiawoA_X96C5o1bsmtN46LWbQtprzWbj-bTsm7Yb751SmZiOIjcZlf4v7WV6Y5pMa1quo9weOu7GHD1zU8DHEjupwcHfdSS8hKI1gMXcUeOlrmstI2UziaWuUUmb65bYUeb1PWvocgH8nr2AOjD_hAl020NJQUCtSmttXhWdlyAuA4WseD-6Shi5d1faHJrwI8CAwuU2MyLw7Fs=w453-h804-no);
background-repeat: no-repeat;
background-position: center;

}
.header{
  color: coral;
  font-size: 25px;
  background-color: black;
  text-align: center;
}
.column {
    width: 100%;
    float: left;
    border: 2px solid coral;
    padding: 6px;
    margin: 8px;
    background-color: grey;
    }
