.center{
 text-align: center;
}
body {
  background-color: grey;
  font-family: serif ;
  font-size: 19px;

}
.header{
  color: coral;
  font-size: 25px;
}
.start{
  text-decoration: underline;
}
.sidebar {
  width: 40%;
 float:left;
    border: 2px solid coral;
  padding: 6px;
  margin: 20px;
  background-color: grey;
  }
  .column {
      width: 50%;

      float: right;
      border: 2px solid coral;
    padding: 6px;
    margin: 20px;
    background-color: grey;
    }
