.center{
 text-align: center;
}
body {
 background-color: grey;
  font-family: serif ;
  font-size: 19px;
  background-image: url(https://lh3.googleusercontent.com/v_OmLcsIwebVoB55DVjPLHGjHewbNbFrMVh4HjsSREHQ0Y9MsjQMQZtRDvsagWEKfIf5pc_Es0lK5c46bOj5gjHXkd34LGM0TetFIb7d3STetB6X6dXlb0k4M_eqLSI2HCYTFg5EpiRW_k-1iG0w_gFwUdepxOzIvgoqcPTJc8syEgzmuVQEAOY3jUeR71lr_Bv8cCiJiVCkSjDLFjzRcvgwYAl0WDhKuCanXj-zBYoGa9wwQOT62wm6Iz1UIylnggr-ydx_hXSfeor3FrD2U7x8w2ycwhxlVFQSZl-FuzJi0Ojtz9LkZUAU4jRwLOFp1tuwWUfkJ6cqPnSt03Ph-7SPal3qNmLBHh4dPy_9IOFBkKMda6PtockfKQ_o0FZfRAHo8bbE1JcBNYhdzN5hmUAMhYWqIwgRW97MiayTEiVGwgDWguEnc-xfG1CTORV1-zuHGVpX45--HiH5K0SBPDwB2RxdQZtDdml7pv77MjoGlgeUYvAkDZ-bmcZE55oVXeUFdrgoXgU8jjp4aJpdl-PWTHU4RTHstBViK2MMi7s0pS4wf-cgMomod_tWysrXKxJCuojNvtkLm6e4Ly6vFzUnSaaXHpQqQ73hdSI=w546-h410-no);
  background-repeat: no-repeat;
  background-size: cover;

}
.header{
  color: coral;
  font-size: 25px;
  background-color: black;
  text-align: center;
}
.start{
  text-decoration: underline;
}
.sidebar {
  width: 40%;
 float:left;
    border: 2px solid coral;
  padding: 6px;
  margin: 20px;
  background-color: grey;
  }
  .column {
      width: 40%;

      float: right;
      border: 2px solid coral;
    padding: 6px;
    margin: 20px;
    background-color: grey;
    }
